




<% include ../partials/header %>

<div class="container">


    <header class="jumbotron">
            <h1><strong>Welcome to YelpCamp!!</strong></h1> 
            <h3>Best camps</h3>
            
            <a class="btn btn-primary" href="/camps/new">Create New Camp</a>
    </header>
            <div class="row text-center" style="display:flex ; flex-wrap:wrap" >
            <% camps.forEach(function(campa){ %>
            
            <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
            <image src="<%= campa.image%>"></image>
            <div class="caption"><%= campa.name %></div>
            <a class="btn btn-primary" href="/camps/<%= campa._id%>"> More Info </a>
            </div>
           

            </div>
            
            
            
            <% });%>
            
    </div>
    
    <a class="button" href="https://omar-omarradwan.c9users.io/">Back</a>

</div>

<% include  ../partials/footer %>